<div class="container p-3">
    <div class="d-flex justify-content-start">
        <span class="text-bold fs-5">This first Heading</span>  <h4 class="text-secondary text-bold"> Will Catch Your Eye</h4>
       
    </div>
    



<!-- <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img src="./assets/img/1.jpg" class=" img-circle" alt="">
  </div> -->

<!--   <div style="background-color:white">
    <div class="container py-4">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div  class="d-flex justify-content-start ">
            <div>
                <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis molestias aperiam?</p>
            </div>
            <img class="rounded-circle ms-3" 
            src="./assets/img/1.jpg" 
            alt="Imagen"  
            width="250" 
            height="250"
            >
        </div>
    </div>
</div> -->