<section id="portfolio">
    <div class="container">
      <h2>Portfolio</h2>
      <p>Donde puedes ver algunos de nuestros proyectos anteriores.</p>
      <div class="row">
        
        <div class="col-md-4">
          <div class="portfolio-item">
            <img src="https://github.com/4GeeksAcademy/fs-pt-95-g4-marta/blob/master/website/assets/img/big-project-image.png?raw=true" class="img-fluid" alt="Project 1">
            <h4 class="text-primary">Project Name</h4>
            <p>Descripción del proyecto. Este proyecto fue creado por Don Cristiano Ronaldo Dos Santos de Aveira.</p>
          </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
              <img src="https://github.com/4GeeksAcademy/fs-pt-95-g4-marta/blob/master/website/assets/img/big-project-image.png?raw=true" class="img-fluid" alt="Project 2">
              <h4 class="text-primary">Project Name</h4>
              <p>Descripción del proyecto. Este proyecto fue creado por Mo Salah "El faraón"</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <img src="https://github.com/4GeeksAcademy/fs-pt-95-g4-marta/blob/master/website/assets/img/big-project-image.png?raw=true" class="img-fluid" alt="Project 3">
              <h4 class="text-primary">Project Name</h4>
              <p>Descripción del proyecto. Fue creado por Harry Kane</p>
            </div>
          </div>
        </div>
      </div>
    </section>